@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.brand-logo {
  font-family: 'Grand Hotel', cursive;
  font-size: 26px;
}

.nav-wrapper {
  max-width: calc(935px + 40px);
  padding: 0 20px;
}

.container-width {
  max-width: 350px;
}

.home-container {
  max-width: 1000px;
}

.card-container {
  max-width: 470px;
  width: 100%;
}

.suggestion-container {
  width: calc(100% + 32px);
}
.profile-container{
  max-width: 1000px;
}

/* -------------------------------------------------------------------------- */
/*                                UPLOAD BUTTON                               */
/* -------------------------------------------------------------------------- */
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: none;
  display: flex;
  justify-content: center;
  padding: 4px 12px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: #0195f7;
  border-radius: 5px;
  width: 80%;
  margin: auto;
 text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                 SCROLL_CSS                                 */
/* -------------------------------------------------------------------------- */

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(197, 195, 195);
}


/* -------------------------------------------------------------------------- */
/*                                  MESSAGES                                  */
/* -------------------------------------------------------------------------- */

.my-messages{
color: black;
font-size: 14px;
padding: 10px;
border-radius: 20px;
background-color: rgb(209, 209, 209);
width: max-content;
align-self: flex-end;
}
.friend-messages{
  align-self: start;
  color: black;
  font-size: 14px;
  padding: 10px;
  background-color:white;
  border-radius: 20px;
  border:solid 1px rgb(209, 209, 209);
  width: max-content;
}

.emoji-picker-react {
  position: absolute !important;
  bottom: 65px !important;
  left: 15px !important;
}
